<% content_for :leftbox do%>
    <h1 class="h1_first">project</h1>

            <p>
        <b>Name:</b>
        <%= @project.name %>
      </p>
      <%  if @project.published?%>
      <% end %>
      
      <%  if !@project.published?%>
      <%= form_for @project do |f| %>
      <%= f.hidden_field :published, :value => true%>
        <%= f.submit "Publish This Project", :disable_with => 'Publish This Projecting...' %>
      <% end %>
      <% end %>
            <p>
              
        <b>Organization:</b>
        <%= @project.organization %>
      </p>
            <p>
        <b>Cause:</b>
        <%= @project.cause %>
      </p>
            <p>
        <b>Location:</b>
        <%= @project.location %>
      </p>
            <p>
        <b>Description:</b>
        <%= @project.description %>
      </p>
            <p>
        <b>Tos:</b>
        <%= @project.tos %>
      </p>
            <p>
        <b>Size require:</b>
        <%= @project.size_require %>
      </p>
            <p>
        <b>Format require:</b>
        <%= @project.format_require %>
      </p>
            <p>
        <b>Target audience:</b>
        <%= @project.target_audience %>
      </p>
            <p>
        <b>Three things:</b>
        <%= @project.three_things %>
      </p>
            <p>
        <b>Colors want:</b>
        <%= @project.colors_want %>
      </p>
            <p>
        <b>Colors donotwant:</b>
        <%= @project.colors_donotwant %>
      </p>
            <p>
        <b>How use:</b>
        <%= @project.how_use %>
      </p>
            <p>
        <b>Content on design:</b>
        <%= @project.content_on_design %>
      </p>
      <p>
        Creative Files:
        <ul>
        <% if @project.creative1?%>

        <li><%=link_to @project.creative1.original_filename, @project.creative1.url %></li>
        <%end%>
        <% if @project.creative2?%>
        <li><%=link_to @project.creative2.original_filename, @project.creative2.url %></li>
        <%end%>
        <% if @project.creative3?%>
          <li><%=link_to @project.creative3.original_filename, @project.creative3.url %></li>
        <%end%>
        </ul>
      </p> 
<h3>Actions</h3> 
	<div class="col3_content contribute">
    <%= link_to 'New Project', new_project_path %><br>
    <% if current_user == @project.user%>
    <%= link_to 'Edit', edit_project_path(@project) %><br>
    <%= link_to 'Destroy', @project, :confirm => 'Are you sure?', :method => :delete %>    
    <% end %>
	</div>
  
<% end %>
<% content_for :slider do%> 
    <div id="desnav">
	<ul>
	    <li><%= link_to 'All Designs', new_project_path %></li>
	    <li><%= link_to 'Top 3', new_project_path %></li>
	    <li><%= link_to 'Vote', new_project_path %></li>
	    <li><%= link_to 'PDF Extract', new_project_path %></li>
	    
	</ul>
    </div>
    <div id="designlist">
	<ol class="designgroup">
	    <%= render :partial => "designs/design", :collection => @project.designs%>
	</ol>
    </div>
    <%= link_to 'Add a Design To This Project?', new_design_path(:project_id => @project.id) %><br>
<% end %>
