<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN"> 
<html> 
	<head> 
    <title><%= content_for?(:title) ? yield(:title) : "ReDesign.Org" %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
		<meta content="Design for America connects governments and nonprofits to designers who want to give back and simultaneously build their portfolio and gather feedback on their work." name="description" /> 
		<meta content="design, good, nonprofit, cause, government, creatives, creating" name="keywords" />
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application" %>

    <!--
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>  MMK added from CfA website
	<script src="/javascripts/ckeditor/ckeditor.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/ckeditor/adapters/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/jquery.carousel.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://cdn.jquerytools.org/1.2.5/form/jquery.tools.min.js" type="text/javascript" charset="utf-8"></script>
    -->
    <before all>
    <%= javascript_include_tag :all %>
    <after all>

    <%= yield(:head) %>
	</head> 
	<body>
 <div id="header">
	<div id="headerimg">
    	<%= link_to image_tag('redesigngovorg.png'), :root%>
<!--    	<div id="session"> 
    	  <%= render 'layouts/sign_in'%>
		</div> -->
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
         <%= render 'layouts/search' unless params[:controller] == 'search' %>
	</div>
	<div id="nav"> 
    	<!-- <a href="/" title="Home" rel="nofollow">Homepage</a> | -->
		<ul>
               
	<% if !current_user%>
		<li><a href="/aboutus" title="Users" rel="nofollow">ABOUT US</a></li>
		<li><%= link_to "PROFILES", profiles_path %></li>
		<li><%= link_to "JOIN", new_user_registration_path %></li>
		<li><%= link_to "SIGN IN", new_user_session_path%></li>
	<% end %>
	
	<% if current_user%>
		<!--  <a href="/projects?user_id=<%# =c%>">My Projects </a> | -->
		<li><a href="users/sign_out">SIGN OUT</a></li>
		<li><a href="/aboutus" title="Users" rel="nofollow">ABOUT US</a></li>
		<li><a href="/projects">PROJECTS</a></li>
		<li><%= link_to "PROFILES", profiles_path %></li>
	<% end %>
		</ul>
	</div>
</div>
		
</div>
    <div id="contentwrap">
    <!-- <%= render 'layouts/search' unless params[:controller] == 'search' %> -->
      <%= yield %>
       <div id="container">
        <div class="call_action">
		      <%= yield :leftbox %>
	</div>
            <div class="slider">
		      <%= yield :slider %>	     
        </div><!--slider -->
       </div><!--container-->
       
       <div id="bottom_container">
        <div class="lower_third"></div><!--lower3rd-->
        <div class="lower_third"></div><!--lower3rd-->
        <div class="lower_third"></div><!--lower3rd-->
       </div><!--bottom_container-->
       
       <div id="footer">
        <!--sitemap goes here (breadcrumbs)-->
       </div><!--footer-->
   </div>  
  </body>
</html>
