<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN"> 
<html> 
	<head> 
    <title><%= content_for?(:title) ? yield(:title) : "Design for America" %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
		<meta content="Design for America connects governments and nonprofits to designers who want to give back and simultaneously build their portfolio and gather feedback on their work." name="description" /> 
		<meta content="design, good, nonprofit, cause, government, creatives, creating" name="keywords" />
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :all %>
    <script src="/javascripts/ckeditor/ckeditor.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/ckeditor/adapters/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://cdn.jquerytools.org/1.2.5/form/jquery.tools.min.js" type="text/javascript" charset="utf-8"></script>

    <%= yield(:head) %>
	</head> 
	<body>
 <div id="header">
	<div id="headerimg">
    	<%= link_to image_tag('redesign123.png'), :root%>
<!--    	<div id="session"> 
    	  <%= render 'layouts/sign_in'%>
		</div> -->
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
	</div>
	<div id="strip"> 
    	<!-- <a href="/" title="Home" rel="nofollow">Homepage</a> | -->
		<a href="/aboutus" title="Users" rel="nofollow">About Us</a> |     	<!-- need to add route -->
		<%= link_to "Profiles", profiles_path %> |
		<% if !current_user%>
		<%= link_to "Join", new_user_registration_path %> |
		<%= link_to "Sign In", new_user_session_path%> |    	
	<% end %>
	<% if current_user%>
		<!--  <a href="/projects?user_id=<%# =c%>">My Projects </a> | -->
		<%= link_to "My Projects", projects_path(:user_id => current_user.id) %> |
		<%= link_to "My Profile", current_user.profile %> |
		<%= link_to "Edit My Profile", edit_profile_path(current_user.profile) %> |     	
		<%= link_to "New Project", new_project_path%>
	<% end %>
		
	</div>
</div>
		
</div>
    <div id="contentwrap">
    <!-- <%= render 'layouts/search' unless params[:controller] == 'search' %> -->
      <%= yield %>
   </div>  
  </body>
</html>
